.home {
  height: var(--100vh);
}

.home__wrapper {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}



.header {
  position: relative;

  @include media('<=phone') {
    font-size: 4rem;
    line-height: 1.05;
    margin: 15rem auto;
    width: 31.2rem;
  }
}

[class^="slider__slide__video"],
[class*=" slider__slide__video"] {
  display: flex;
  align-items: center;
  justify-content: center;
}
